[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
openpyxl = "*"
pypdf2 = "*"

[dev-packages]
pandas-stubs = "*"

[requires]
python_version = "3.12"
